<h3>Tree</h3>

<kendo-treeview
        [nodes]="data"
        textField="text"
        kendoTreeViewExpandable
        kendoTreeViewSelectable
        kendoTreeViewHierarchyBinding
        childrenField="items"
    >
    </kendo-treeview>

<h3>Multichoice tree</h3>

<kendo-treeview
    [nodes]="data"
    textField="text"
    kendoTreeViewExpandable
    kendoTreeViewSelectable
    kendoTreeViewHierarchyBinding
    childrenField="items"
    [kendoTreeViewCheckable]="checkableSettings"
>
</kendo-treeview>
        