<h3>Form</h3>

<form #form="ngForm" class="k-form">
    <div class="grid3">
        <label class="k-form-field">
            <span>TextBox ({{textboxValue}})</span>
            <input [(ngModel)]="textboxValue" name="name" class="k-textbox" placeholder="Just textbox" />
        </label>

        <label class="k-form-field">
            <span>Mask ({{maskValue}})</span>
            <kendo-maskedtextbox [mask]="mask" [(ngModel)]="maskValue" name="maskValue"></kendo-maskedtextbox>
        </label>

        <label class="k-form-field">
            <span>Datepicker ({{dateValue ? dateValue.toLocaleString("en-US", {year: 'numeric', month: 'short', day: 'numeric'}) : ''}})</span>
            <kendo-datepicker [(value)]="dateValue"></kendo-datepicker>
        </label>

    </div>

    <div class="grid3">
        <label class="k-form-field">
            <span>Autocomplete ({{autocompleteValue}})</span>
            <kendo-autocomplete [data]="autocompleteData" [filterable]="true" (valueChange)="autocompleteChange($event)"
                (filterChange)="autocompleteFilter($event)" [placeholder]="'e.g. Boston'">
            </kendo-autocomplete>
        </label>

        <label class="k-form-field">
            <span>Dropdown ({{dropdownValue ? 'id - ' + dropdownValue.id : '' }})</span>
            <kendo-dropdownlist [data]="dropdownData" [textField]="'value'" [valueField]="'id'" [(ngModel)]="dropdownValue"
                name="dropdownValue"></kendo-dropdownlist>
        </label>

        <label class="k-form-field">
            <span>Combobox ({{comboboxValue}})</span>
            <kendo-combobox [data]="autocompleteSource" [allowCustom]="false" [(ngModel)]="comboboxValue" name="comboboxValue">
            </kendo-combobox>
        </label>
    </div>

    <div class="k-form-field">
        <span>RadioButton ({{radioValue}})</span>

        <input type="radio" name="radio" id="one" class="k-radio" [checked]="radioValue === 'one'" (change)="onRadioChange('one')">
        <label class="k-radio-label" for="one">One</label>


        <input type="radio" name="radio" id="two" class="k-radio" [checked]="radioValue === 'two'" (change)="onRadioChange('two')">
        <label class="k-radio-label" for="two">Two</label>
    </div>
</form>