<h3>Grid</h3>
<p>With server side pagination</p>

<kendo-grid
		[data]="result"
		[height]="410"
		[pageSize]="state.take"
        [skip]="state.skip"
        [pageable]="{
          buttonCount: 3,
          info: false,
          previousNext: previousNext
        }"
        [scrollable]="'none'"
        (pageChange)="pageChange($event)"
	>
	<kendo-grid-column field="name.first" title="Name" width="100"></kendo-grid-column>
	<kendo-grid-column field="name.last" title="Last Name" width="100"></kendo-grid-column>
	<kendo-grid-column field="email" title="Email" width="100"></kendo-grid-column>
</kendo-grid>