::ng-deep body {
    margin: 0;
}

.wrap {
    display: flex;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px 0;
}

.content {
    flex-grow: 1;
}

nav {
    border-right: 1px solid gray;
    margin-right: 20px;
    padding: 0 20px;
    min-height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
}

nav a {
    background: #f6f6f6;
    padding: 10px;
    color: #656565;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
}

nav a.active, nav a:hover {
    background: #ff6358;
    color: white;
}
