<div class="wrap">
    <nav>
      <a routerLink="/grid" routerLinkActive="active">Grid</a>
      <a routerLink="/form" routerLinkActive="active">Form</a>
      <a routerLink="/tree" routerLinkActive="active">Tree</a>
      <a routerLink="/browse-box" routerLinkActive="active">BrowseBox</a>
    </nav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>