<kendo-window title="{{header}}" *ngIf="opened" (close)="close()" [minWidth]="700" [width]="900" (close)="close()">
    <div class="input-wrap">
        <span class="k-icon k-i-search"></span><input [(ngModel)]="inputValue" ngModelChange="inputChange($event)" class="k-textbox" placeholder="Filter" />
    </div>


    <kendo-grid
        [data]="gridDataResult"
        [selectable]="selectableSettings" 
        [height]="410" 
        [pageSize]="pageSize" 
        [skip]="skip" 
        [pageable]="{
            buttonCount: 3,
            info: true,
            previousNext: previousNext
        }"
        [scrollable]="'none'"
        (pageChange)="pageChange($event)"
        (selectionChange)="selectionChange($event)">

        <ng-container *ngFor="let column of headers">
            <kendo-grid-column field="{{column.field}}" title="{{column.title}}"></kendo-grid-column>
        </ng-container>
    </kendo-grid>

    <div class="buttons">
      <button type="button" class="k-button k-primary" [disabled]="buttonDisabled" (click)="submit()">Submit</button>
    </div>
</kendo-window>